.start-panel {
    display:grid;
    grid-template-columns: 50px 170px 1fr;
}
.start-panel__icons {
    width: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.start-panel__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.apps--office {
    display: grid;
}
.apps--web {
    display: grid;
}
.apps--other {
    display: grid;
}
.apps__grid {
    display: grid;
}
.app--g2x2 {
    
}
.app--g2x1 {

}
.app--g1x2 {

}
.app--off-3 {

}
.app--off-4 {

}
.app--off-5 {

}
.app--in-3 {
    grid-column: 3;
    grid-row: 1;
}
.app--fun-2 {

}
.app--fun-3 {

}